# Build requirements 
build
twine

# # nbsphinx setup
# nbsphinx 
# pandoc # if you don't install this tutorials wont' build 

# # for sphinx gallery only
# sphinx-gallery
# pillow
# seaborn

# # theme and syntax
# myst_parser
# furo